
h1 {
    font-size: 50px;
}
.orange {
    color: #ff4500;
   
}
.bg {
    background: #ff4500;
}
.container-flex{
    display: flex;
    margin-bottom: 100px;
}
.half{
    width: 50%;
    
}
.half img{
    width: 70%;
    padding-left: 10%;
    padding-top: 5%;
}
.link-btn{
    text-decoration: none;
    
    padding: 15px 35px;
    border-radius: 5px;
    background-image: linear-gradient(rgb(204, 216, 38),red);
    font-weight: 800;
}
.top-banner{
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
    
}
body {
    margin: 0;
    font-family: 'Festive', cursive;

}
.dream{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience{
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    background-position:left ;
}

.full{
    
    
    margin-left: 10px;
    margin-right: 25px;
    padding: 10px;
    box-shadow: 10px 10px 10px gray;
    border-radius: 20px;
    border-left: 2px solid rgb(243, 45, 19);
    border-top: 2px solid rgb(243, 45, 19);
    
}

.web{
    
    margin-left: 25px;
    margin-right: 10px;
    padding: 10px;
    box-shadow: 10px 10px 10px gray;
    border-radius: 20px;
    border-left: 2px solid rgb(243, 45, 19);
    border-top: 2px solid rgb(243, 45, 19);
   
}
